.Menu {
  display: flex;
  align-items: center;

}

.Nav {
}

.NavList {
  list-style: none;
}

.NavListItem {
  margin-right: 30px;
  display: inline-block;

  .ArrowIcon {
    display: inline-block;
    color: #9aa1b8;
    vertical-align: middle;

    svg {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 24px;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      user-select: none;
      flex-shrink: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  a,
  span {
    font-size: 14px;
    color: #9aa1b8 !important;
    text-transform: uppercase;
  }
}

.LearnLink {
  cursor: pointer;
}

.Login {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding: 20px 50px 20px 0;
  border-left: solid 1px rgba(154, 161, 184, 0.2);
}

.LoginLink {
  font-size: 14px;
  color: #9aa1b8 !important;
  text-transform: uppercase;
  margin: 0 70px;
}
